body {
  background-color: #f4f4f4;
}
.container {
  max-width: 600px;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-container {
  margin-top: 50px;
  text-align: center;
  perspective: 1000px;
}
.card {
  width: 200px;
  height: 300px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s ease;
}
.front {
  background-color: lightblue;
  color: #fff;
  line-height: 300px;
}
.back {
  background: lightgreen;
  color: #fff;
  line-height: 300px;
  transform: rotateY(180deg);
}
.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.card:hover {
  transform: rotateY(180deg);
}
