body {
  font-family: "Delicious Handrawn", Arial, Helvetica, sans-serif;
  margin: 0;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  /* background-color */
  background: linear-gradient(
    to bottom right,
    coral,
    30%,
    blue,
    50%,
    lightgreen
  );
  /* background-image */
  /* background-image: url("backgroud.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  /* background: url("backgroud.jpeg") no-repeat center/cover; */
}
.hero h1 {
  font-size: 40px;
  color: white;
}
.hero p {
  font-size: 18px;
  color: white;
}
.hero a {
  text-decoration: none;
  color: #333;
}

.hero a {
  text-decoration: none;
}
.hero a:hover {
  color: coral;
}
.hero a:active {
  color: blue;
}

.hero a:focus {
  outline: 2px solid coral;
}
.hero a:visited {
  color: red;
}
