* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}
img {
  max-width: 100%;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}
.navbar {
  background: lightblue;
  padding: 1rem 2rem;
  height: 80px;
}
.navbar .logo {
  width: 50px;
}
.navbar-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .main-menu-list {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.navbar li {
  font-size: 1.5rem;
}
.navbar a:hover {
  color: blue;
  cursor: pointer;
  /* cursor can change img by url() */
}
.navbar .mobile-menu {
  display: none;
}
.navbar .mobile-menu-item {
  position: absolute;
  top: 80px;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgb(208, 230, 237);
  text-align: center;
  transition: transform 0.3s ease;
  transform: translateX(100%);
}
.navbar .mobile-menu-item.active {
  transform: translateX(0);
}
.navbar .mobile-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 300px;
  gap: 2rem;
  font-size: 1.2rem;
}
.navbar .mobile-menu-list li {
  margin-bottom: 1.5rem;
  font-size: 2rem;
}
.navbar .mobile-menu-list li:hover {
  color: blue;
  cursor: pointer;
}
.fa-bars {
  font-size: 2rem;
}
@media (max-width: 768px) {
  .navbar .main-menu {
    display: none;
  }
  .navbar .mobile-menu {
    display: block;
  }
}
