* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background-color: #27264a;
}
main {
  background-color: white;
  max-width: 1100px;
  margin: 0 auto 20px;
}
article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.card {
  padding: 20px;
  /* border: 1px solid red; */
  text-align: center;
  min-width: 350px;
  /* max-width: 250px; */
  /* flex: 1 1 300px; */
  flex-shrink: 0;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
}
section {
  padding: 20px;
  /* border: 1px solid red; */
  width: 310px;
  margin: 20px auto;
}
/* ul {
  text-align: left;
  list-style: none;
} */
header {
  margin-top: 55px;
  padding: 10px;
  font-size: 25px;
  background-color: #fff;
}
.card.card-pro header {
  background: linear-gradient(to right, lightblue, purple);
}
.card.card-enterprise header {
  background: linear-gradient(to right, pink, orange);
}
.price {
  font-size: 40px;
  font-weight: 900;
}
sup {
  font-size: 20px;
  letter-spacing: 3px;
}
sub {
  font-size: 20px;
}
samp {
  font-size: 20px;
}
strong {
  font-size: 20px;
}
.content {
  font-size: 22px;
  margin: 25px 0;
}
a,
.card-pro a:hover {
  text-decoration: none;
  color: black;
  padding: 15px 20px;
  border: 2px solid black;
  border-radius: 5px;
  display: block;
  text-transform: capitalize;
  font-size: 20px;
  background-color: white;
  margin: 30px;
}
a:hover,
.card-pro a {
  color: white;
  background-color: black;
}
ul {
  list-style-type: none;
  text-align: left;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.fa-check {
  color: green;
  letter-spacing: 5px;
}
@media (max-width: 768px) {
  article {
    flex-direction: column;
  }
  .card {
    margin: 2rem;
    padding: 40px 30px;
  }
}
