* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.6;
}
p {
  padding: 2rem;
}
main {
  container-type: inline-size;
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
  background: #f4f4f4;
  height: 100vh;
}
.card {
  background: #fff;
  padding: 2rem;
  margin: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 50cqw;
}
.card-2 {
  width: 70cqw;
  height: 50cqh;
}
.card h2 {
  margin-bottom: 0.5rem;
}
@container (max-width : 600px) {
  .card {
    width: 95cqw;
  }
}
