* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  color: black;
}
.flex-h1 {
  background-color: orangered;
  color: #000;
  width: auto;
  /* height: 200px; */
  padding: 30px;
  font-size: 50px;
  text-transform: capitalize;
}
.nav-menu {
  gap: 20px;
  padding: 20px;
  /* margin: 20px; */
  /* column-gap: 10px; */
  flex-direction: row;
  /* border-radius: 20px; */
  display: flex;
  font-size: 22px;
  margin-bottom: 45px;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
a:hover {
  color: coral;
  cursor: pointer;
}
aside {
  min-width: 500px;
}
aside h2 {
  background-color: coral;
  text-transform: capitalize;
  padding: 10px;
  color: #fff;
  font-size: 20px;
}

main {
  margin: 0 40px;
  gap: 40px;
}
main {
  margin: 0 40px;
  display: flex;
}
article p {
  font-size: 18px;
  margin-bottom: 20px;
}
article h2 {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 800;
}
.post-menu {
  font-size: 20px;
}
.post-menu li {
  border-bottom: 1px solid #3333333b;
  padding: 10px;
}
