.container {
  max-width: 1100px;
  margin: 30px auto;
  background: #f4f4f4;
  height: 600px;
}
.item {
  background-color: coral;
  padding: 1rem;
  border: 1px solid #333;
  text-align: center;
}
.item-grid {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 1frx);
  /* simialr to flex row */
  justify-content: space-evenly;
  align-items: center;
  /* ============== */
  /* placement in Y axis */
  align-content: space-around;
  /* position alignment in Y */
  justify-items: start;
  /* item see x, content see y */
}
