.container {
  max-width: 1100px;
  margin: 30px auto;
  background: #f4f4f4;
  height: 600px;
}
.item {
  background-color: coral;
  padding: 1rem;
  border: 1px solid #333;
  text-align: center;
}
.item-grid {
  display: grid;
  /* colum / row */
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  /* won't work */
  /* justify-content: space-evenly; */
}
.item-1 {
  /* grid-column-start: 1; */
  /* grid-column-end: 3; */
  /* short hand start / end */
  grid-column: 1 / 3;
  /* grid-row-start: 1; */
  /* grid-row-end: 3; */

  grid-row: span 2;
}
.item-3 {
  grid-row: span 2;
}
