* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}
.container {
  max-width: 1100px;
  margin: 30px auto;
  background: #f4f4f4;
}
.item {
  background: lightcoral;
  padding: 1rem;
  border: 1px solid #333;
  text-align: center;
}
.item-grid {
  display: grid;
  /* case 1 : by percentage 70% 30% */
  /* case 2 : multiple column ratios : 33.3% 33.3% 33.3% */
  /* case 3 : by fr : 2fr 1fr 3fr */
  /* case 4 : fixed width with ratio : 600px 1fr 1fr */
  /* case 5 : apple minmax() to set min and max width */
  /* case 6 : apply repeat() */
  /* grid-template-columns: repeat(3, minmax(300px, 1fr)); */
  /* define rows : (first row)1fr (second row) 2fr */
  /* grid-template-rows: 1fr 2fr; */
  /* grid-auto-rows: 500px; */
  /* case 1 : all sides : gap: 20px; */
  /* case 2 : grid-row-gap (row only) : 20px; */
  /* case 3 : grid-column-gap (column only) : 20px; */
  /* case 4 : grid (row and colum) : 20px 10px */
  grid-gap: 20px 10px;
  /* autofill */
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  /* autofit */
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
