* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}
.container {
  max-width: 1100px;
  margin: 30px auto;
  background: #f4f4f4;
}
.item {
  background: lightcoral;
  padding: 1rem;
  border: 1px solid #333;
  text-align: center;
}
.item-grid {
  display: grid;
  grid-template-rows: 1fr 2fr 3fr 4fr;
}
