* *::before *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}
.hero {
  height: 100%;
  background: url(./backgroud.jpeg) center/cover no-repeat;
  color: #fff;
  position: relative;
  text-align: center;
}
.hero h1 {
  font-size: 3rem;
  padding: 1rem;
  margin-bottom: 2.5rem;
}
.container p {
  font-size: 1.5rem;
  padding: 1rem;
  margin-bottom: 2.5rem;
}
.container .btn {
  text-decoration: none;
  color: #fff;
  padding: 1rem 2rem;
  opacity: 0.9;
  background: #333;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
}
.container .btn:hover {
  opacity: 1;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}
@media (max-width: 768px) {
  .container h1 {
    font-size: 2rem;
    line-height: 1.3rem;
  }
  .container p {
    font-size: 1.25rem;
  }
  .container .btn {
    font-size: 1rem;
  }
}
