* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  background: coral;
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid black;
  height: 50vh;
  width: 100vh;
}
h1 {
  font-size: 7vw;
  padding: 0.3rem o;
}
p {
  font-size: 1rem;
  margin: 1rem 0;
}
ul {
  font-size: 1.5em;
}
