html,
body {
  font-family: "Delicious Handrawn", Arial, Helvetica, sans-serif;
  /* border: 3px solid red; */
  line-height: 2;
}
* {
  padding: 0;
  margin: 0;
  border: 3px;
  box-sizing: border-box;
}

main {
  max-width: 600px;
  margin: 100px auto;
  padding: 20px;
  background-color: lightblue;
}
h2 {
  font-size: 32px;
  font-weight: 800;
  font-style: normal;
  text-transform: capitalize;
  letter-spacing: 12px;
  word-spacing: 5px;
  text-align: left;
}
.card {
  /* background-color: white;
  opacity: 0.9; */
  padding-left: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
p {
  color: black;
}
p::first-letter {
  text-transform: uuppercase;
}
.card-sporty button {
  background: red;
}
.card-casual button {
  background: blue;
}
.card-foemal button {
  background: brown;
}
.sporty {
  color: red;
}
.casual {
  color: blue;
}
.formal {
  color: brown;
}
.card.card-sporty {
  background: #fff url(sporthy.jpeg) no-repeat center right/200px;
}
.card.card-casual {
  background: #fff url(casual.jpeg) no-repeat center right/200px;
}
.card.card-foemal {
  background: #fff url(formal.jpeg) no-repeat center right/200px;
}
button {
  width: 150px;
  color: #fff;
  font-size: 16px;
  padding: 5px 0;
  margin: 15px 0;
}
button:hover {
  opacity: 0.6;
  cursor: pointer;
}
