.box {
  background-color: darkblue;
  color: white;
  /* padding: 20px; */
  padding-top: 20px;
  padding-right: 50px;
  padding-bottom: 70px;
  padding-left: 100px;
  padding: 20px 50px 70px 100px;
  /* top right bottom left */
  padding: 20px 50px; /* vetrtical horizontal */
  padding: 20px 50px 40px; /* top horizontal bottom */
  border: 0cqmax solid green;
  border-top-color: red;
  border-bottom-color: yellow;
  border-left-color: brown;
  border-right-style: double;
  border-left-style: dashed;
  border-top-style: dotted;
  /* border-radius: 150px; */
  border-top-left-radius: 1100px;
  border-top-right-radius: 1100px;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  margin: 50px;
  /* margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 100px;
  margin-left: 50px; */
  /* display: inline-block; */
  width: 15px;
}
.box-1 {
  width: 45%;
  /* height: 100px; */
  /* overflow: hidden; */
}
.box-2 {
  width: 45%;
  display: inline-block;
}
.box-3 {
  width: 45%;
  display: inline-block;
}
.box-2 p {
  /* width: 50%; */
}
/* .box-3 {
  max-width: 800px;
  min-width: 500px;
} */
