* {
  padding: 0px;
  margin: 0px;
}
#h1 {
  background-color: purple;
  color: white;
  text-align: center;
  text-transform: capitalize;
  font-size: 36px;
}
ul {
  list-style-type: none;
  text-align: left;
  font-size: 20px;
  line-height: 1.5;
  margin: 10px;
  padding: 0px;
}
h3 {
  color: purple;
  margin-top: 30px;
  margin-bottom: 20px;
  margin: 10px;
}
p {
  line-height: 2;
}
