* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --primary-color: rgb(128, 119, 0);
  --secondary-color: rgb(128, 240, 167);
  --tertiary-color: rgb(144, 144, 238);
  --shadow-opacity: 0.4;
  --container-width: 600px;
  --container-width-large: 1100px;
}

/* .container {
  --primary-color: green;
  --secondary-color: lightcoral;
  --tertiary-color: lightgreen;
  --shadow-opacity: 0.4;
  --container-width: 600px;
  --container-width-large: 1100px;
} */

.container {
  display: flex;
  max-width: var(--container-width);
  margin: 30px auto;
  gap: 20px;
}
.container-lg {
  max-width: var(--container-width-large);
}
.box {
  flex: 1;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, var(--shadow-opacity));
}
.box-1 {
  background: var(--primary-color);
}
.box-2 {
  background: var(--secondary-color);
}
.box-3 {
  background: var(--tertiary-color);
}
