* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Delicious Handrawn", Arial, Helvetica, sans-serif;
  background: blue;
  background-size: cover;
  width: auto;
  /* background-position: center; */
}
